// Abstracts
@import 'abstracts/breakpoints';
@import 'abstracts/colors';
@import 'abstracts/mixins';
@import 'abstracts/variables';

// Base
@import 'base/typography';
@import 'base/global';

// Components
@import 'components/authModal';
@import 'components/buttons';
@import 'components/navbarMeny';
@import 'components/footer';
@import 'components/profileCard';
@import 'components/recipeCard';
@import 'components/carousel';
@import 'components/loader';
@import 'components/heroBanner';

// Pages
@import 'pages/homePage';
@import 'pages/aboutPage';
@import 'pages/editProfilePage';
@import 'pages/recipePage';
@import 'pages/ingrediens';