
body {
    background-color: $color-bg;
    font-family: $sl-font-family--display;
}

.app-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .app-main {
    flex: 1;
  }
  