.auth-modal {
  .modal-content {
    background-color: $color-bg; 
    border-radius: 12px;
    padding: 1rem;
  }

  .modal-header {
    border: none; 
  }

  .modal-title {
    color: $color-text-primary;
    font-weight: 600;
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
  }

  .modal-btn-footer {
    display: flex;
    gap: 1rem;
  }

  .form-label {
    color: $color-text-secondary;
  }

  .form-control {
    border-radius: 8px;
    border: 1px solid $color-icon;
  }

  .form-text {
    color: $color-text-primary;
  }

  .btn-primary {
    background-color: $color-green;
    border: none;

    &:hover {
      background-color: $color-green-hover;
    }
  }

  .error-message {
    background: #fdd;
    color: #a00;
    padding: 0.5rem;
    border-radius: 6px;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.switch-link {
    cursor: pointer;
  
    &:hover {
      color: $color-orange-hover;
      text-decoration: underline;
    }
  }
  