.global-hero {
  position: relative;
  height: 30vh; 
  min-height: 200px;
  max-height: 350px; 

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  //color: #f6e7d8;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
}

.global-hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
}

.global-hero-content h1 {
  position: relative;
  z-index: 2;
  font-size: 1.8rem;
  font-weight: 500;
  color: $color-orange-hero;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

@include tablet {
  .global-hero {
    min-height: 35vh;
  }

  .global-hero-content h1 {
    font-size: 2.2rem;
  }
}

@include laptop {
  .global-hero {
    min-height: 40vh;
  }

  .global-hero-content h1 {
    font-size: 2.6rem;
  }
}

@include desktop {

  .global-hero-content h1 {
    font-size: 3.1rem;
  }
}
