.global-hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #f6e7d8;
  margin-bottom: 0.5rem;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
}

.global-hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
}

.global-hero-content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.global-hero-content p {
  font-size: 1.5rem;
}
