.loading-spinner {
min-height: 60vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 0.75rem;

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }

    p {

        font-weight: 700;
        font-size: 2rem;
        color: $color-orange;
        text-align: center; 
        margin: 0;

    }

}

