.navbar {
  background-color: $color-bg-2;
  padding: 0.8rem 1rem;

  .navbar-brand {
    color: $color-text-primary;
    font-weight: 500;
    font-size: 1.6rem;
  }

  .nav-link {
    color: $color-text-primary;
    font-weight: 500;
    font-size: 1.05rem;

    &:hover {
      color: $color-orange-hover;
    }
  }

  .nav-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
}

.nav-btns {
  gap: 0.6rem;

  .btn {
    padding: 0.35rem 0.8rem;
    font-size: 0.85rem;
    line-height: 1.2;
  }
}

@media (max-width: $breakpoint-laptop) {
  .navbar {
    .navbar-brand {
      font-size: 1.9rem;
    }

    .nav-link {
      font-size: 1.15rem;
    }
  }
  .nav-btns,
  .nav-profile-dropdown {
    margin-top: 0.8rem;
  }
}

@include laptop {
  .navbar {
    .navbar-brand {
      font-size: 1.9rem;
    }

    .nav-link {
      font-size: 1.15rem;
    }
  }

  .nav-btns .btn {
    padding: 0.5rem 1.1rem;
    font-size: 1rem;
  }
}
