.navbar {
    background-color: $color-bg-2; 
    padding: 1rem 1rem;

  
    .navbar-brand {
      color: #2e2e2e;
      font-weight: 500;
      font-size: 2rem;
    }
  
    .nav-link {
      color: #2e2e2e;
      font-size: 1.4rem;
    }

    .nav-avatar {
        width: 45px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        border: none;
        cursor: pointer;
      }
      
  }
  
  .nav-btns {
    display: flex;
    justify-content: space-between;
    margin: 0.7rem;
  }