// Backgrounds
$color-bg: #f6ecdc;
$color-bg-2: #eedcc7;

// Greens
$color-green: #5f8762;
$color-green-hover: #4d6f51;
$color-green-light: #d8e6d9;

// Oranges
$color-orange: #f4b860;
$color-orange-hover: #e9a54f;
$color-orange-light: #fbe7cc;
$color-orange-hero: #f0a93f;

// Text
$color-text-primary: #1e1e1e;
$color-text-secondary: #494949;

// Icons / Lines
$color-icon: #3a3a3a;
