.ingrediens-hero {
    background-image: url("/src/styling/images/ingrediens.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.5rem;
    color: orangered;
  }