.ingrediens-hero {
    background-image: url("/src/styling/images/ingrediens.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.5rem;
    color: orangered;
  }

  .ingredients-page {

    .ingredients-grid {
      padding: 2rem;
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }

    .ingredient-card {
      text-align: center;
      text-decoration: none;
      color: inherit;
      transition: transform 0.2s ease;
    
      &:hover {
        transform: scale(1.05);
      }
    
      img {
        width: 100%;
        border-radius: 8px;
        background: transparent;
      }
    
      p {
        margin-top: 0.5rem;
        font-weight: 600;
      }
    }
  }