
.recipe-detail-card {
    max-width: 900px;
    margin: 2rem auto;
    border: none;
    background-color: $color-bg-2;

  }
  
  .recipe-title {
    font-size: 1.8rem;
    text-align: center;
  }
  
  .recipe-meta {
    text-align: center;
    font-size: 0.9rem;
  }
  
  .recipe-main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .detail-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .recipe-ingredients ul {
    padding-left: 1rem;
    line-height: 1.6;
  }
  
  .recipe-instructions {
    //text-align: center;
    margin-top: 1rem;
  
    p {
      line-height: 1.6;
      margin-bottom: 0.8rem;
    }
  }
  
  @include tablet {
    .recipe-main {
      flex-direction: row;
      align-items: flex-start;
      gap: 2rem;
    }
  
    .recipe-media {
      flex: 1;
    }
  
    .recipe-ingredients {
      flex: 1;
    }
  
    .detail-img {
      height: 300px;
    }
  }
  